<footer>
    
    <p><i class="fa-solid fa-copyright"></i> Shyam Murari. All Right Reserved</p>
    <div>
        <li><a href="/">Home</a></li>
        <li><a href="/users/profile">Profile</a></li>
    </div>
</footer>