<link rel="stylesheet" href="/css/signup.css">
<div class="sign-up-container">
    <h1>Sign In</h1>
    <form action="/users/create-session" method="Post" class="sign-up-form">
        <Input type="email" name="email" placeholder="Enter your Email Id" required></Input>
        <input type="Password" name="password" placeholder="Enter Your Password" required>
        <button type="submit">Log In</button>
    </form>
</div>
<p><a href="/users/auth/google">google sign-in/sign-up</a></p>
