<link rel="stylesheet" href="/css/signup.css">
<div class="sign-up-container">
    <h1>Sign Up</h1>
    <form action="/users/create" method="post" class="sign-up-form">
        <input type="text" name="name" placeholder="Enter Your Name" required>
        <Input type="email" name="email" placeholder="Enter your Email Id" required>
        <input type="Password" name="password" placeholder="Enter Your Password" required>
        <input type="Password" name="confirm_password" placeholder="Confirm Password" required>
        <button type="submit">Sign Up</button>
    </form>
</div>
<p><a href="/users/auth/google">google sign-in/sign-up</a></p>