header{
    height:40px;
    background-color: rgb(50, 174, 215);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
        margin-left: 10px;
    }
    div{
        
        li{
            list-style: none;
            display: inline;
            margin-right: 10px;
            a{
                color: white;
                text-decoration: none;
                font-size: 22px;
            }
        }
    }
}